<!-- @format -->

<%- include("partial/header")%>


<main class="lg-main">
  <section>
    <div class="text-center">
      <h1 class="primary-heading">Pick your Premium</h1>
      <p class="tertiary-heading color-wh">
        Listen without limits on your phone, speaker, and other devices
      </p>
    </div>

    <div class="plan-box container flex justify-evenly">
      <ul class="flex-25 plan-ul">
        <li>
          <div class="val-plan-box">
            <span class="val-span">1 month free</span>
            <p class="val-para">One-time plans available</p>
            <h3 class="tertiary-heading">Individual free</h3>
            <p class="offer-para">
              ₹119/month after offer period <br />
              <span> 1 account </span>
            </p>
          </div>

          <ul class="opt-ul">
            <li class="flex align-center">
              <span>✔</span>
              <p class="opt-para">Ad-free music listening on mobile</p>
            </li>

            <li class="flex align-center">
              <span>✔</span>
              <p class="opt-para">Group Session</p>
            </li>

            <li class="flex align-center">
              <span>✔</span>
              <p class="opt-para">Download 10k songs/device on 5 devices</p>
            </li>

            <button class="upg-btn">
              <a href="#">upgrade</a>
            </button>

            <small
              >Terms and conditions apply. 1 month free not available for users
              who have already tried Premium.</small
            >
          </ul>
        </li>
      </ul>

      <ul class="flex-25 plan-ul">
        <li>
          <div class="val-plan-box">
            <span class="val-span">1 month free</span>
            <p class="val-para">One-time plans available</p>
            <h3 class="tertiary-heading">Duo vip</h3>
            <p class="offer-para">
              ₹119/month after offer period <br />
              <span> 1 account </span>
            </p>
          </div>

          <ul class="opt-ul">
            <li class="flex align-center">
              <span>✔</span>
              <p class="opt-para">Ad-free music listening on mobile</p>
            </li>

            <li class="flex align-center">
              <span>✔</span>
              <p class="opt-para">Group Session</p>
            </li>

            <li class="flex align-center">
              <span>✔</span>
              <p class="opt-para">Download 10k songs/device on 5 devices</p>
            </li>

            <button class="upg-btn">
              <a href="/users/vip/upgrade">upgrade</a>
            </button>

            <small
              >Terms and conditions apply. 1 month free not available for users
              who have already tried Premium.</small
            >
          </ul>
        </li>
      </ul>

      <ul class="flex-25 plan-ul">
        <li>
          <div class="val-plan-box">
            <span class="val-span">1 month free</span>
            <p class="val-para">One-time plans available</p>
            <h3 class="tertiary-heading">Family premium</h3>
            <p class="offer-para">
              ₹119/month after offer period <br />
              <span> 1 account </span>
            </p>
          </div>

          <ul class="opt-ul">
            <li class="flex align-center">
              <span>✔</span>
              <p class="opt-para">Ad-free music listening on mobile</p>
            </li>

            <li class="flex align-center">
              <span>✔</span>
              <p class="opt-para">Group Session</p>
            </li>

            <li class="flex align-center">
              <span>✔</span>
              <p class="opt-para">Download 10k songs/device on 5 devices</p>
            </li>

            <button class="upg-btn">
              <a href="/users/premium/upgrade">upgrade</a>
            </button>

            <small
              >Terms and conditions apply. 1 month free not available for users
              who have already tried Premium.</small
            >
          </ul>
        </li>
      </ul>
    </div>
  </section>
</main>
<%- include("partial/footer")%>

