<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="Cache-Control"
      ,
      content="no-store, no-cache, must-revalidate"
    />

    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav class="container flex justify-between align-center">
        <div>
          <a class="logo" href="/">my podcast</a>
        </div>

        <ul class="flex align-center justify-between">
          <%if(user){%>
          <li>
            <a href="/collections">home</a>
          </li>
          <%if(user.isAdmin){%>
          <li>
            <a href="/collections/new">add collection</a>
          </li>

          <%}else{%>

          <li class="upgrade">
            <a href="/users/upgrade">upgrade</a>
          </li>
          <%}%>

          <li class="profile flex justify-between align-center">
            <span>👤 :<%=user.name%></span>

            <figure class="drpImgBox">▿</figure>

            <ul class="drop-down dpl-n">
              <%if(user.isAdmin){%>
              <li>
                <a href="#"> Admin: <%=user.name %></a>
              </li>
              <%}else{%>

              <li>
                <a href="#"> membership: <%=user.plan%></a>
              </li>
              <%}%>
              <li>
                <a href="#"> ⚙ setting</a>
              </li>

              <li>
                <a href="/users/logout">logout</a>
              </li>
            </ul>
          </li>

          <%}else{%>
          <li class="nv-li">
            <a href="/users/register">register</a>
          </li>
          <li class="nv-li">
            <a href="/users/login">login</a>
          </li>
          <%}%>
        </ul>
      </nav>
    </header>

    <script src="/javascripts/partial.js"></script>
  </body>
</html>
